---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center gap-2 py-4">
    <h1 class="mb-24 text-3xl">Subtitle server Pro Max</h1>
    <a
      href="/allsongs"
      class="w-44 rounded-md bg-primary p-2 text-center text-primary-foreground hover:drop-shadow-lg"
    >
      See songs
    </a>
    <a
      href="/subtitle"
      class="w-44 rounded-md bg-primary p-2 text-center text-primary-foreground hover:drop-shadow-lg"
      >Go to subtitle</a
    >
    <a
      href="/add"
      class="w-44 rounded-md bg-primary p-2 text-center text-primary-foreground hover:drop-shadow-lg"
      >Add song</a
    >
    <a
      href="/test"
      class="w-44 rounded-md bg-primary p-2 text-center text-primary-foreground hover:drop-shadow-lg"
      >3D subtitle</a
    >
  </main>
</Layout>
